body {
  height: 100%;
  background-color:#EFEFF4;
}

.jumbotron {
  border-radius: 15px;
  background-color:white;
}

.card {
  border-radius: 15px;
  background-color:white;
}

h1 {
  color: #43a5a1;
}

h5, p {
  color: black;
}

.btn-primary {
  color: #fff !important;
  background-color: #43a5a1 !important;
  border-color: #43a5a1 !important;
}

.btn-primary:hover {
  background-color: #83e6e2 !important;
  border-color: #83e6e2 !important;
}

.form-signin {
  min-width: 500px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 500px) {
  .form-signin {
    min-width: 90%;
  }
}