<div>
    <form class="form-signin" ng-submit="submitSignUp()">
        <img class="mb-4" src="/img/bear-logo.svg" alt="bear logo" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please enter your data</h1>
        <input type="email" class="form-control mb-3" placeholder="Email address" ng-model="user.email">
        <input type="password" class="form-control mb-3" placeholder="MasterPassword" ng-model="user.password">
        <input type="password" class="form-control mb-3" placeholder="Repeat MasterPassword">
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="login_submit">Sign up</button>
        <p class="mt-5 mb-3 text-muted">© 2021</p>
    </form>
</div>